@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');
* {
    transition: all 0.5s cubic-bezier(.68,-0.55,.27,1.55) 0s;
}
body {
    background-color: rgb(253, 253, 253);
    font-family: 'EB Garamond', serif !important;
}
navbar {
    margin-bottom: 2vw;
}
navbar ul {
    /* temp as when page loaded it jumps */
    transition: none !important;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-radius: 10px;
}
navbar ul a {
    text-decoration: none;
}
navbar ul li {
    margin: 2vw;
    border-radius: 5px;
    background-color: #f4f4f4a8;
    padding: 2vw;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Fredoka One', cursive;
    font-size: 2vw;
    transition: all 0.1s ease-in-out 0s;
    color: black;
}
navbar ul li:hover {
    margin: 2.1vw;
    background-color: #ecececa8;
    border: rgb(101, 150, 255) solid 3px;
    font-size: 2.2vw;
    cursor: pointer;
}
navbar ul li:nth-child(2n) {
    border: rgb(101, 150, 255) solid 3px;
}
.chapters {
    position: fixed;
    line-height: 2vw;
    background-color: rgba(238, 238, 238, 0.466);
    border-radius: 10px;
    padding: 3vw;
    text-align: center;
    transition: none;
}
.chapters a {
    transition: none;
    margin: 1vw;
    color: rgb(0, 0, 0);
    font-family: 'Lato', sans-serif;
}
.chapters a:hover {
    color: rgb(104, 104, 104);
}
#timelineDiv {
    text-align: center;
}
#timelineDiv h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
}
#timelineDiv p pre {
    font-size: 1.5vw;
    font-family: 'Noto Sans JP', sans-serif;
}
#timelineDiv input::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
  
input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #3071a9;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}
  
  /* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
.content {
    margin-top: 5vw;
    text-align: center;
}
.content h1 {
    font-size: 3vw;
    font-family: 'Fredoka One', cursive;
}
.content h5 {
    font-size: 2.2vw;
    font-family: 'Fredoka One', cursive;
}
.content h6 {
    font-size: 2vw;
    font-family: 'Fredoka One', cursive;
}
.content p {
    font-size: 2vw;
    /* font-family: 'Charm', cursive; */
    font-family: 'Abel', sans-serif;
}
.content i {
    color: #91916b;
    text-decoration: underline;
    font-weight: bold;
    transition: 0.1s;
}
.content i:hover {
    background-color: #aaaa6c81;
    cursor: pointer;
}
.content pre {
    font-size: 2vw;
    /* font-family: 'Charm', cursive; */
    /* font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-family: 'Overlock', cursive;
}
#tempFontChange {
    font-size: 2vw;
    /* font-family: Whitney,"Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-family: 'Overlock', cursive;
}
.content ul li {
    font-size: 2vw;
    /* font-family: 'Charm', cursive; */
    font-family: 'Abel', sans-serif;
}
footer {
    background-color: #c4c4c46b;
    width: 100%;
    height: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    font-family: 'Roboto Condensed', sans-serif;
}
footer p {
    margin: 1vw;
}
footer a {
    margin: 1vw;
}
footer a:nth-child(2):hover {
    transform: rotate(30deg);
    color: #541a8bbb;
}
footer a:nth-child(3):hover {
    transform: rotate(-30deg);
    color: #541a8bcc;
}
