/*@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
* {
    transition: all 0.5s cubic-bezier(.68,-0.55,.27,1.55) 0s;
}
body {
    background-color: rgb(253, 253, 253);
}
navbar {
    margin-bottom: 2vw;
}
navbar ul {
    /* temp as when page loaded it jumps */
    transition: none !important;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;
    border-radius: 10px;
}
navbar ul li {
    margin: 2vw;
    border-radius: 5px;
    background-color: #f4f4f4a8;
    padding: 2vw;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Fredoka One', cursive;
    font-size: 2vw;
    transition: all 0.1s ease-in-out 0s;
}
navbar ul li:hover {
    margin: 2.1vw;
    background-color: #ecececa8;
    border: rgb(101, 150, 255) solid 3px;
    font-size: 2.2vw;
    cursor: pointer;
}
.content {
    margin-top: 5vw;
    text-align: center;
}
.content h1 {
    font-size: 3vw;
}
.content h5 {
    font-size: 2.2vw;
}
.content h6 {
    font-size: 2vw;
}
.content p {
    font-size: 2vw;
}
.content ul li {
    font-size: 2vw;
}
.header {
    font-family: 'Fredoka One', cursive;
    font-size: 50px;
    color: #b17804;
}
.small_header {
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    color: #b17804;
}
